.color-verde-sena-bg {
    background-color: #39A900 !important;
}

.color-negro-suave-bg {
    background-color: #212529 !important;
}

.color-gris-oscuro-bg {
    background-color: #333333 !important;
}

.color-gris-claro-bg {
    background-color: #f8f9fa !important;
}

.color-rojo-alerta-bg {
    background-color: #dc3545 !important;
}

/* Tus clases de texto (fn) se pueden quedar igual, o también ponerles !important por seguridad */
.color-verde-sena-fn { color: #39A900 !important; }
.color-negro-suave-fn { color: #212529 !important; }
.color-gris-oscuro-fn { color: #333333 !important; }
.color-gris-claro-fn { color: #f8f9fa !important; }
.color-rojo-alerta-fn { color: #dc3545 !important; }

@media (min-width: 768px) {
    .offcanvas-md.color-negro-suave-bg {
        background-color: #212529 !important;
    }
}

/* Filtro de Alto Contraste */
body.alto-contraste {
    filter: contrast(150%) saturate(120%);
    background-color: #000 !important;
}

body.alto-contraste .card {
    border: 2px solid #fff !important;
}

/* Corrección de color de texto personalizado para Modo Oscuro */
[data-bs-theme="dark"] .color-negro-suave-fn {
    color: #f8f9fa !important; /* Texto blanco suave */
}

/* Opcional: Si el Header principal sigue blanco, forzamos que sea oscuro */
[data-bs-theme="dark"] header.bg-white {
    background-color: #212529 !important;
    border-color: #373b3e !important;
}