{% extends "base.html" %}

{% block content %}
<div class="py-2">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h3 class="fw-bold mb-1 color-negro-suave-fn">Editar Estrategia</h3>
            <p class="text-muted small mb-0">Modificando la actividad pedagógica</p>
        </div>
        <div class="d-flex gap-2">
            <a href="{% url 'estrategias' %}" class="btn btn-outline-secondary fw-bold shadow-sm">
                <i class="bi bi-x-circle me-1"></i> Cancelar
            </a>
        </div>
    </div>

    <div class="card shadow-sm border-0 border-start border-4" style="border-left-color: #39A900 !important; max-width: 800px; margin: 0 auto;">
        <div class="card-header bg-transparent py-3">
            <h5 class="mb-0 fw-bold color-negro-suave-fn"><i class="bi bi-pencil-square me-2 text-success"></i>Actualizar Datos</h5>
        </div>
        <div class="card-body bg-body-tertiary">
            <form method="POST" class="row g-4">
                {% csrf_token %}
                <div class="col-md-12">
                    <label class="form-label fw-bold small text-muted text-uppercase">Nombre de la Estrategia:</label>
                    <input type="text" name="nombre" class="form-control border-secondary-subtle shadow-none" value="{{ estrategia.nombre }}" required>
                </div>
                <div class="col-md-12">
                    <label class="form-label fw-bold small text-muted text-uppercase">Descripción de la actividad:</label>
                    <input type="text" name="descripcion" class="form-control border-secondary-subtle shadow-none" value="{{ estrategia.descripcion }}" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold small text-muted text-uppercase">Plazo (Días):</label>
                    <select name="plazo_dias" class="form-select border-secondary-subtle shadow-none">
                        <option value="3" {% if estrategia.plazo_dias == 3 %}selected{% endif %}>3 Días</option>
                        <option value="5" {% if estrategia.plazo_dias == 5 %}selected{% endif %}>5 Días</option>
                        <option value="8" {% if estrategia.plazo_dias == 8 %}selected{% endif %}>8 Días</option>
                        <option value="15" {% if estrategia.plazo_dias == 15 %}selected{% endif %}>15 Días</option>
                    </select>
                </div>
                
                <div class="col-12 text-end mt-4">
                    <button type="submit" class="btn color-verde-sena-bg text-white fw-bold px-4 shadow-sm">
                        <i class="bi bi-save me-1"></i> Guardar Cambios
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}